<header class="block-template-part">
    <div class="block-group alignfull has-background-color has-text-color has-background has-link-color elements-2ddf83eb6e77becb64cc690448039aba is-layout-flow " style="background-color:#000000cc;padding-top:0px;padding-bottom:0px">
        <header class="alignwide block-template-part">
            <div class="block-group is-layout-constrained block-group-is-layout-constrained">
                <div class="block-group alignwide is-content-justification-space-between is-layout-flex container-7 block-group-is-layout-flex" style="padding-top:1.2em;padding-bottom:0em">
                    <div class="block-group is-content-justification-left is-layout-flex container-2 block-group-is-layout-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="60" heigth="60">
                        <a href="/index.html" target="_self" rel="home" aria-current="page">
                            <path scr="" d="M 13.302 18.261 L 13.302 14.535 L 21.745 14.535 L 21.745 14.534 L 25.367 14.534 L 25.367 14.536 L 25.368 14.536 L 25.368 14.534 C 31.792 14.534 36.999 19.891 37 26.5 L 37 30.227 L 25.367 30.227 L 25.367 37.5 L 21.745 37.5 L 21.745 23.277 C 18.195 26.711 12.653 27.813 7.848 24.959 C 0.051 20.327 0.051 8.744 7.848 4.112 C 9.625 3.056 11.642 2.5 13.695 2.5 L 13.695 6.25 C 7.497 6.25 3.624 13.155 6.722 18.679 C 9.822 24.203 17.571 24.203 20.67 18.679 C 20.747 18.542 20.82 18.402 20.888 18.261 L 13.302 18.261 Z M 25.367 26.5 L 33.42 26.5 C 33.419 21.925 29.815 18.216 25.368 18.216 L 25.368 15.345 C 25.368 15.35 25.367 15.355 25.367 15.359 L 25.367 26.5 Z" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0, 0); paint-order: stroke; stroke-width: 6px;" data-bx-origin="0.485711 0.514286"></path>
                        </a>
                        </svg>
                        <h1 style="font-style:italic;font-weight:900;line-height:1.5;text-transform:capitalize;" class="block-site-title has-large-font-size has-fira-sans-font-family is-layout-flow block-site-title-is-layout-flow">
                        <a href="/index.html" target="_self" rel="home" aria-current="page">FarmTech Solutions</a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
    </div>
</header>