{% extends "layout.jinja2" %}

{% block content %}
    <h2>Eficiência do Plantio</h2>
    <div class="eficiencia">
        <p><strong>Eficiência:</strong> {{ eficiencia|round(2) }}</p>
    </div>
{% endblock %}