{% extends "layout.jinja2" %}

{% block content %}
    <h2>Rentabilidade do Plantio</h2>
    <div class="rentabilidade">
        <p><strong>Rentabilidade:</strong> {{ rentabilidade|round(2) }}</p>
    </div>
{% endblock %}